In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [2]:
df = pd.read_csv("data/salaries-cities.csv")

In [3]:
df

    years_of_experience  city  salary
0                     5     1    3150
1                     9     1    3787
2                     4     2    2991
3                    10     1    4551
4                     8     2    3540
..                  ...   ...     ...
95                    4     1    2884
96                    4     2    2810
97                    2     2    2488
98                    7     1    3661
99                    2     2    2496

[100 rows x 3 columns]

In [4]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [5]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [6]:
model = LinearRegression()

In [7]:
model.fit(x_train, y_train)

LinearRegression()

In [9]:
y_pred = model.predict(x_test)

In [11]:
y_pred

array([2668.45116176, 3603.83572806, 2855.52807502, 3603.83572806,
       3714.30946547, 2778.92489916, 4275.54020525, 3042.60498828,
       3416.7588148 , 3153.07872568, 2294.29733523, 3416.7588148 ,
       3042.60498828, 3416.7588148 , 3229.68190154, 3416.7588148 ,
       3603.83572806, 2778.92489916, 3042.60498828, 2966.00181242])

In [12]:
y_test

26    2669
86    3661
2     2991
55    3751
75    3575
93    2672
16    4708
73    3070
54    3599
95    2884
53    2389
92    3397
78    3060
13    3281
7     3269
30    3638
22    3638
24    2698
33    3099
8     2767
Name: salary, dtype: int64

In [13]:
r2 = r2_score(y_test, y_pred)
print(f"R2 Score: {r2} ({r2:.2%})")

R2 Score: 0.9069837682066595 (90.70%)

In [15]:
salaries = model.predict([[11, 1], [11,2], [12,1], [12,2]])
print(salaries)

[4462.61711851 4165.06646785 4649.69403177 4352.14338111 4836.77094503
 4539.22029437]

C:\Users\Codelyftlab\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(